@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

/* Might Change some of these primary colors later */
:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-blue: rgba(19, 136, 232);
  --primary-green: rgb(21,99,7);
  --primary-hover-green: rgb(66,97,22);
  --primary-black: rgb(54,54,54);
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/* ******************* Navbar ******************* */
nav {
  z-index: 2;
}

.navbar-style {

left: 0;
right: 0; 
position: fixed !important;
padding: 2em;
top: 0%;

}

.myLogo {
  width: 7.25rem;
}

/* -------- Menu Links -------- */
nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  /* might change color later */
  border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-blue);
}

/* ******************* Header ******************* */

.header-wraper {
  position: relative;
  background: url(background2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  z-index: 1;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-info h1 {
  color: var(--primary-blue);
  text-transform: uppercase;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
}

/* -------- Typed Text -------- */

.typed-text {
  font-size: 2rem;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/* -------- Main Offer Button -------- */
.btn-main-offer {
  border: 1px solid var(--primary-green);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem  0.75rem  0.75rem;
  color: black;
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-green);
  color: var(--primary-hover-green);
  color: var(--primary-white);
}

/* -------- Particles Js -------- */
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/* ******************* About Me ******************* */

.profile-picture {
  width: 30rem;
}

@media(max-width: 768px) {
  .profile-picture {
    width: 20rem;
  }
}

@media(max-width: 992px) {
  .profile-picture {
    width: 40rem;
  }
}

@media(max-width: 768px) {
  .profile-picture {
    width: 30rem;
  }
}

@media(max-width: 525px) {
  .profile-picture {
    width: 25rem;
  }
}

@media(max-width: 499px) {
  .profile-picture {
    width: 15rem;
  }
}

.about-me {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: auto !important;
}

/* -------- Font -------- */

@media(max-width: 768px) {
  .about-me-text {
    font-size: 0.85rem !important;
  }
}

/* ******************* Skills ******************* */

.skills-wraper {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: auto !important;
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.skills-title {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.card-style {
  width: 15rem !important;
  text-align: center !important;
  align-items: center !important;
}

