@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


/* Might Change some of these primary colors later */
:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-blue: rgba(19, 136, 232);
  --primary-green: rgb(21, 99, 7);
  --primary-hover-green: rgb(66, 97, 22);
  --primary-black: rgb(54, 54, 54);
  --secondary-black: rgb(76, 76, 76);
  --primary-gray: rgb(184, 184, 184);
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden; 
}

/* ******************* Navbar ******************* */
nav {
  z-index: 2;
}

.navbar-style {
  /* left: 0;
  right: 0;
  position: fixed !important;
  padding: 2em;
  top: 0%; */
  padding: 2em;
}


.myLogo {
  width: 7.25rem;
}


@media only screen and (max-width: 676px) {
  .myLogo {
    width: 5rem;
    padding-top: 1rem;
  }
  }

/* -------- Menu Links -------- */
nav Link.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-blue);
}

/* ******************* Header ******************* */

.header-wraper {
  position: relative;
  background: url(background2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  z-index: 1;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-info h1 {
  color: var(--primary-blue);
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
}

/* -------- Typed Text -------- */

.typed-text {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/* -------- Main Offer Button -------- */
.btn-main-offer {
  border: 1px solid var(--primary-green);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: black;
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-green);
  color: var(--primary-hover-green);
  color: var(--primary-white);
}

/* -------- Particles Js -------- */
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/* ******************* About Me ******************* */
.about-me {
  color: var(--primary-white);
  background-color: var(--secondary-black);
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about-me a img {
  width: 4rem;
  transition: all 0.3s ease;
  position: relative;
  height: 4.12rem !important;
}

.about-me a img:hover {
  width: 4.8rem;
  height: 4.6rem !important;
}


.aboutMe-title {
  font-family: 'Russo One', sans-serif;
}

.profile-picture {
  width: 30rem;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem #23292E;
}

/* For different mobile Responsiveness */
@media (max-width: 768px) {
  .profile-picture {
    width: 20rem;
  }
  .about-me a img {
    width: 2rem;
    height: 2.2rem !important;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .about-me a img:hover {
    width: 2.3rem;
    height: 2.5rem !important;
  }
}

@media (max-width: 992px) {
  .profile-picture {
    width: 40rem;
  }
}

@media (max-width: 768px) {
  .profile-picture {
    width: 30rem;
  }
}

@media (max-width: 525px) {
  .profile-picture {
    width: 25rem;
  }
}

@media (max-width: 499px) {
  .profile-picture {
    width: 15rem;
  }
}

/* -------- Font -------- */

@media (max-width: 768px) {
  .about-me-text {
    font-size: 0.85rem !important;
  }
}

/* ******************* Skills ******************* */

.skills-wraper {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: auto !important;
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.skills-title {
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: 'Russo One', sans-serif;
}

.card-style {
  width: 15rem !important;
  text-align: center !important;
  align-items: center !important;
}

/* ******************* Experience ******************* */

.timeline-wraper {
  background-color: var(--secondary-black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
  padding-top: 4rem;
}

.experience-title {
  font-family: 'Russo One', sans-serif;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2.5rem 0;
}

.timeline-container::after {
  background-color: var(--primary-blue);
  content: "";
  position: absolute;
  left: calc(50% - 0.125rem);
  width: 0.25rem;
  height: 100%;
}

.timeline-item {
  background-color: var(--secondary-black);
  display: flex;
  justify-content: flex-end;
  padding-right: 1.875rem;
  margin: 0.625rem;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0rem;
  padding-left: 1.875rem;
}

.timeline-item-content {
  background-color: var(--primary-gray);
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.3125rem rgb(54, 54, 54);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1.2rem;
  text-align: right;
  position: relative;
}

.timeline-item-content::after {
  content: "";
  background-color: var(--primary-gray);
  box-shadow: 0.0625rem -0.0625rem 0.0625rem rgb(54, 54, 54);
  position: absolute;
  transform: rotate(45deg);
  right: -0.46875rem;
  top: calc(50% - 0.46875rem);
  width: 0.9375rem;
  height: 0.9375rem;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  box-shadow: -0.0625rem 0.0625rem 0.0625rem rgb(54, 54, 54);
  left: -0.46875rem;
}

/* -------- Middle Circle -------- */
.timeline-item-content .circle {
  content: "";
  background-color: var(--primary-blue);
  border: 0.1875rem solid var(--primary-blue);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 0.625rem);
  right: -1.9rem;
  width: 1.25rem;
  height: 1.25rem;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -1.9rem;
}

/* -------- Specific font sizes in item -------- */
.timeline-wraper h1 {
  color: var(--primary-white);
}

.timeline-item-content h4 {
  color: var(--primary-blue);
  font-size: 2rem;
}

.timeline-item-content h3 {
  color: rgb(124, 124, 124);
}

/* -------- Image logo-------- */
.timeline-item-content .timeline-item-image {
  position: absolute;
  top: -0.25rem;
  left: 0.3125rem;
}

.timeline-item:nth-child(odd) .timeline-item-content .timeline-item-image {
  left: auto;
  right: 0.3125rem;
}

/* -------- Mobile Responsiveness -------- */
@media only screen and (max-width: 767px) {
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline-item-content .timeline-item-image {
    top: -0.25rem;
    left: 7.5rem;
  }
  .timeline-item:nth-child(odd) .timeline-item-content .timeline-item-image {
    left: auto;
    right: 7.5rem;
  }

  .timeline-item-content h3 {
    /* margin-top: 2.1875rem; */
    font-size: 1.4rem;
  }

  .timeline-item-content h4 {
    font-size: 1.2rem;
  }
  .timeline-item-content p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 676px) {
  .timeline-item-content .timeline-item-image {
    top: -0.25rem;
    left: 7rem;
  }
  .timeline-item:nth-child(odd) .timeline-item-content .timeline-item-image {
    left: auto;
    right: 7rem;
  }
}

@media only screen and (max-width: 650px) {
  .timeline-item-content .timeline-item-image {
    top: -0.25rem;
    left: 6.5rem;
  }
  .timeline-item:nth-child(odd) .timeline-item-content .timeline-item-image {
    left: auto;
    right: 6.5rem;
  }
}

@media only screen and (max-width: 650px) {
  .timeline-item-content .timeline-item-image {
    top: -0.25rem;
    left: 4.4rem;
  }
  .timeline-item:nth-child(odd) .timeline-item-content .timeline-item-image {
    left: auto;
    right: 4.4rem;
  }
}

@media only screen and (max-width: 499px) {
  .timeline-item-content .timeline-item-image {
    top: -0.25rem;
    left: 2.2rem;
  }
  .timeline-item:nth-child(odd) .timeline-item-content .timeline-item-image {
    left: auto;
    right: 2.2rem;
  }
  .timeline-item-content .circle {
    right: -1.9rem;
    height: 1.25rem;
  }

  .timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -1.9rem;
  }
}

/* -------- Smaller Phones -------- */
@media only screen and (max-width: 320px) {
  .timeline-item {
    width: 53%;
  }

  .timeline-item-content::after {
    box-shadow: 0.0625rem -0.0625rem 0.0625rem var(--primary-gray);
  }

  .timeline-item:nth-child(odd) .timeline-item-content::after {
    box-shadow: 0.0625rem -0.0625rem 0.0625rem var(--primary-gray);
  }

  .timeline-item-content .timeline-item-image {
    top: -0.25rem;
    left: 1.6rem;
  }
  .timeline-item:nth-child(odd) .timeline-item-content .timeline-item-image {
    left: auto;
    right: 1.6rem;
  }

  .timeline-item-content .circle {
    right: -1.3rem;
    height: 1.25rem;
    background-color: var(--primary-gray);
    border: 0.1875rem solid var(--primary-gray);
  }

  .timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -1.3rem;
    background-color: var(--primary-gray);
    border: 0.1875rem solid var(--primary-gray);
  }

  .timeline-container::after {
    background-color: var(--primary-gray);
  }
}

/* ******************* Portfolio ******************* */

 .portfolio-wraper {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--primary-black);
  color: var(--primary-white);
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.portfolio-title {
  font-family: 'Russo One', sans-serif;
}

.card-container {
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-p {
  color: rgb(175, 171, 171) !important;
}

.img-thumbnail {
  width: 2.125rem;
}


/* ******************* Contact me  ******************* */

.contact-wraper {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color:rgb(30, 97, 160);
  text-align: center;
}

.contact-title {
  font-family: 'Russo One', sans-serif;
}

/* -------- Social Container -------- */

.social-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.social-container h1{
  font-family: 'Russo One', sans-serif;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.social-container img {
  width: 3.5rem;
  transition: all 0.3s ease;
  position: relative;
}

.social-container img:hover {
  width: 4rem;
}

/* ******************* Footer  ******************* */

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.react-footer {
  text-align: center;
}

.react-footer h3 {
  font-size: 1.2rem !important;
}

.react-footer img {

  transition: all 0.3s ease;
  position: relative;
}

.react-footer img:hover {
  width: 2rem;
}